<template>
  <div id="banner-mensaje">
    <tarjeta-mensaje
      mensaje="DRPMéxico Backup as a Service
brinda protección completa para tu empresa:
"
    ></tarjeta-mensaje>
  </div>
</template>

<script>
import TarjetaMensaje from '../../UI/TarjetaMensaje.vue';

export default {
  components: {
    TarjetaMensaje,
  },
};
</script>
