<template>
  <div id="servicios-drass">
    <banner-comp></banner-comp>
    <banner-mensaje></banner-mensaje>
    <caracteristicas-comp></caracteristicas-comp>
    <!-- <div>descripcion</div>
    <div>iconos</div>
    <div>info</div>
    <div>caracteristicas</div>
    <div>prueba ya mismo</div>
    <div>mapa</div>
    <div>casos de clientes</div> -->
  </div>
</template>

<script>
// @ is an alias to /src
import BannerComp from '@/components/Servicios/DRaaS/BannerComp.vue';
import BannerMensaje from '@/components/Servicios/DRaaS/BannerMensaje.vue';
import CaracteristicasComp from '@/components/Servicios/DRaaS/CaracteristicasComp.vue';

export default {
  components: {
    BannerComp, // Banner: Banner
    BannerMensaje,
    CaracteristicasComp,
  },
};
</script>
