<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/contacto">Contacto</router-link>
      <router-link to="/partners">Partners</router-link>
      <router-link to="/soporte">Soporte</router-link>
      <router-link to="/Talento">Talento</router-link>
      <router-link to="/servicios/baas">ServiciosBaaS</router-link>
      <router-link to="/servicios/draas">ServiciosDRaaS</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    margin-right: 25px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
