<template>
  <div id="tarjeta-mensaje">
    {{ mensaje }}
  </div>
</template>

<script>
export default {
  props: {
    mensaje: String,
  },
};
</script>

<style lang="scss">
#tarjeta-mensaje {
  padding: 200px 448px;
  gap: 10px;
  width: auto;
  height: auto;

  background: url("../../../public/img/background-banner-description.svg");
  border-radius: 30px;
  background-repeat: no-repeat;
  margin: 0 auto;

  /* Inside auto layout */
}
</style>
